<!DOCTYPE html>

<html>
    <head>
        <meta lang=\"pt-BR\"><meta charset=\"utf-8\">
        <title>Produtos</title>
    </head>
    <body>
        <h1>Listando os produtos...</h1>
        <table border="1px">
            <thead>
                <th>Código</th>
                <th>Nome</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>NodeJS</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>ExpressJS</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>